node_modules/
dist/
.eslintcache
.package-lock.json

# 파이썬 크롤러 가비지 완전 방어
__pycache__/
*.pyc
.venv/
venv/

# 로컬 임시 다운로드 이미지 및 동적 렌더링 파일 폴더 가두기
static/tasks/
static/tmp_img/
static/speech*.mp3
static/output*.mp4

# 원격 보안 토큰 차단
.env
.env.local